.search-bar-container {
  /* width: 300px; */
  width: 100vw;
}

.search-bar {
  padding: 10px 20px;
  background-color: rgb(220, 220, 220);
}

.search-bar__input {
  background: #03a062;
  border: 6px solid #ffd52d;
  color: teal;
  border-radius: 50px;
  padding: 30px;
  width: 280px;
  height: 80px;
  font-size: 20px;
  outline: none;
  transition: 0.5s;
  position: relative;
}

.search-bar__button {
  border: none;
  background-color: transparent;
  left: 12rem;
  top: 1rem;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* position: absolute; */
}
