.search-bar-container {
  /* width: 300px; */
  width: 100vw;
  position: relative;
  
}

.search-bar {
  padding: 10px 20px;
  /* background-color: var(--color-secondary); */
  background-color: rgb(220, 220, 220);
  display: grid;
  grid-template-columns: 1fr 24px;
  
}

.search-bar__input {
  /* background-color: transparent; */
  background-color: rgb(255, 255, 255);
  border: none;
  color: var(--color-primary);
  max-width: 12vw;
  min-height: 3vh;

}

.search-bar__button {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 14rem;
  
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
